@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap&subset=cyrillic-ext");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-facebook:before {
  content: "\e900";
}

._icon-instagram:before {
  content: "\e901";
}

._icon-vk:before {
  content: "\e902";
}

._icon-youtube:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #717171;
  font-size: 18px;
  font-weight: 400;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

a {
  cursor: pointer;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
  overflow: auto;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  font-size: 20px;
  line-height: 10px;
  color: #0a54a0;
}

.menu__link:hover {
  color: #f48220;
  border-bottom: 1px solid #f48220;
  border-top: 1px solid #f48220;
}

.icon-menu {
  display: none;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.footer {
  background-color: #717171;
}

.footer__content {
  padding: 46px 0px 0px 0px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
  padding: 0px 0px 22px 0px;
  margin: 0px 0px 18px 0px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__item-title {
  font-size: 15px;
  line-height: 173.33333%;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0px 0px 30px 0px;
}

.footer__item-link {
  font-size: 15px;
  line-height: 173.33333%;
  color: #c4c4c4;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-bottom: 1px solid transparent;
}

.footer__item-link:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.footer__social {
  text-align: right;
}

.footer__social-link {
  font-size: 32px;
  color: #c4c4c4;
  display: block;
  margin-bottom: 12px;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.footer__social-link:hover {
  color: #ffffff;
}

.footer__copy {
  font-size: 13px;
  line-height: 200%;
  color: #ffffff;
  text-align: center;
  padding: 0px 0px 15px 0px;
}

.footer__copy span {
  color: #c4c4c4;
}

.footer__copy-link {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}

.development {
  margin: 0px 0px 25px 0px;
}

._no-webp .development__bg{
  background-image: url("../img/bag.png"); }

.development__bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.development__title {
  text-align: center;
  position: relative;
  font-size: 50px;
  line-height: 138%;
  font-weight: 700;
  color: #ffffff;
  padding: 34px 0px 22px 0px;
  border-bottom: 2px solid #fff;
  margin: 0px 0px 25px 0px;
}

.development__text {
  position: relative;
  font-size: 25px;
  line-height: 140%;
  color: #ffffff;
  text-align: center;
  padding: 0px 0px 25px 0px;
}

.mech {
  margin: 0px 0px 75px 0px;
}

.mech__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mech__image-bot {
  margin: 0px 0px -20px 0px;
}

.mech__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.content__item {
  max-width: 373px;
  text-align: center;
  margin: 55px 12px 0px 12px;
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.content__item-title {
  padding: 22px 40px;
  font-size: 25px;
  line-height: 132%;
  color: #0a54a0;
}

.content__item-text {
  font-size: 15px;
  color: #717171;
  line-height: 166.66667%;
  margin: 0px 0px 32px 0px;
  display: block;
}

.content__item-btn {
  font-size: 15px;
  color: #fff;
  padding: 17px 67px;
  background-color: #f48220;
  border-radius: 5px;
  display: inline-block;
  margin: 0px 0px 22px 0px;
}

.content__item-btn:hover {
  background-color: #224a98;
}

.advantages {
  background-color: #f6f6f6;
}

.advantages__container {
  text-align: center;
}

.advantages__title {
  font-size: 35px;
  line-height: 125.71429%;
  font-weight: 700;
  color: #0a54a0;
  text-align: center;
  padding: 52px 0px 30px 0px;
}

.advantages__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.advantages__items-white {
  background: -o-linear-gradient(45deg, #f6f6f6 36%, white);
  background: linear-gradient(45deg, #f6f6f6 36%, white);
  margin: 0px 0px 0px 47px;
}

.advantages__items-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 239px;
  min-width: 239px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.15);
}

.advantages__items-title {
  font-size: 25px;
  line-height: 132%;
  font-weight: 700;
  color: #717171;
  margin: 0px 0px 26px 0px;
}

.advantages__items-text {
  font-size: 18px;
  line-height: 183.33333%;
}

.advantages__items-gray {
  text-align: right;
  margin: 0px 47px 0px 0px;
}

.advantages__btn {
  display: inline-block;
  margin: 28px 0px 45px 0px;
  background-color: #f48220;
  color: #fff;
  border-radius: 5px;
  padding: 17px 41px 18px 37px;
}

.advantages__btn:hover {
  background-color: #224a98;
}

.services {
  border-top: 1px solid #c4c4c4;
}

.services__container {
  text-align: center;
}

.services__title {
  font-size: 45px;
  line-height: 137.77778%;
  font-weight: 700;
  color: #000000;
  margin: 40px 0px 0px 0px;
}

.services__btn {
  display: inline-block;
  font-size: 15px;
  color: #ffffff;
  background-color: #f48220;
  border-radius: 5px;
  padding: 18px;
  margin: 30px 0px 66px 0px;
}

.block__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.block__item {
  margin: 0px 0px 30px 0px;
}

.block__item:last-child {
  margin: 0px 0px 0px 0px;
}

.block__item-text {
  margin: 14px 0px 0px 0px;
  font-size: 18px;
}

.link {
  font-size: 25px;
  line-height: 132%;
  font-weight: 400;
  color: #0a54a0;
}

.link:hover {
  color: #f48220;
  border-bottom: 1px solid #f48220;
}

.title-main {
  font-size: 35px;
  line-height: 125.71429%;
  font-weight: 700;
  color: #0a54a0;
  text-align: center;
}

.title-main:hover {
  color: #f48220;
  border-bottom: 1px solid #f48220;
}

.text {
  font-size: 15px;
  line-height: 166.66667%;
  font-weight: 400;
  color: #717171;
  padding: 0px 0px 30px 0px;
}

.block__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 50px 0px;
}

.title-wrapper {
  text-align: center;
  padding: 58px 0px 30px 0px;
}

.strategy {
  background-color: #f6f6f6;
}

.strategy__block img {
  max-width: 480px;
  margin-left: 30px;
}

.project__img {
  margin: 0px 30px 0px 0px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__list li:not(:last-child) {
    margin: 0px 60px 0px 0px;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .mech {
    margin: 0px 0px 50px 0px;
  }

  .mech__mob-img {
    display: none;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1180px) {
  ._container {
    max-width: 970px;
  }

  .development__title {
    font-size: 40px;
    padding: 30px 0px 17px 0px;
  }

  .development__text {
    font-size: 20px;
    padding: 0px 0px 20px 0px;
  }

  .content__item-title {
    padding: 22px 30px;
  }

  .services__title {
    font-size: 40px;
    margin: 35px 0px 0px 0px;
  }

  .services__btn {
    margin: 25px 0px 56px 0px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .development__title {
    font-size: 30px;
    padding: 25px 0px 15px 0px;
  }

  .development__text {
    font-size: 18px;
    padding: 0px 0px 15px 0px;
  }

  .mech__image {
    display: none;
  }

  .mech__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .content__item {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    margin: 30px 0px 0px 0px;
  }

  .content__item-title {
    font-size: 23px;
  }

  .content__item-text {
    font-size: 14px;
  }

  .content__item-btn {
    margin: 0px 0px 40px 0px;
  }

  .advantages__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .advantages__box:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .advantages__items-white {
    margin: 0px 0px 0px 0px;
    text-align: left;
  }

  .advantages__items-img {
    margin: 0px 0px 11px 0px;
  }

  .advantages__items-title {
    font-size: 20px;
    margin: 0px 0px 20px 0px;
  }

  .advantages__items-text {
    font-size: 15px;
  }

  .advantages__items-gray {
    text-align: left;
    margin: 0px 0px 0px 0px;
  }

  .services__title {
    font-size: 30px;
    margin: 30px 0px 0px 0px;
  }

  .services__btn {
    margin: 20px 0px 46px 0px;
  }

  .block__item-text {
    font-size: 14px;
  }

  .link {
    font-size: 23px;
  }

  .title-main {
    font-size: 29px;
  }

  .block__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .title-wrapper {
    padding: 48px 0px 25px 0px;
  }

  .strategy__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .strategy__block img {
    margin: 0px 0px 0px 0px;
  }

  .project__img {
    margin: 0px 0px 0px 0px;
    max-width: 450px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 15px;
  }

  .menu__body {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transform: translateY(-300%);
        -ms-transform: translateY(-300%);
            transform: translateY(-300%);
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    transition: -webkit-transform 0.5s ease 0s;
    -o-transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
    background-color: rgba(255, 255, 255, 0.85);
  }

  .menu__body._active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .menu__list {
    margin: 90px 0px 0px 0px;
  }

  .menu__link {
    padding: 30px 0px 30px 0px;
    font-size: 40px;
    display: block;
    text-align: center;
  }

  .icon-menu {
    display: block;
    position: relative;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 11;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0a54a0;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 10px 0px;
  }

  .footer__item {
    margin: 32px 30px 0px 0px;
  }

  .footer__social {
    margin: 30px 30px 0px 0px;
  }

  .footer__copy {
    font-size: 10px;
    padding: 0px 0px 10px 0px;
  }

  .development__title {
    font-size: 23px;
    padding: 9px 0px 11px 0px;
    margin: 0px 0px 11px 0px;
  }

  .development__text {
    font-size: 13px;
  }

  .mech {
    margin: 0px 0px 0px 0px;
  }

  .content__item {
    margin: 10px 0px 0px 0px;
  }

  .content__item-btn {
    margin: 0px 0px 55px 0px;
  }

  .advantages__title {
    font-size: 25px;
    padding: 0px 60px 0px 55px;
  }

  .advantages__box {
    padding: 30px 0px 0px 0px;
  }

  .advantages__items-img {
    height: 99px;
    min-width: 99px;
  }

  .advantages__items-img img {
    width: 67px;
    height: 67px;
  }

  .advantages__items-title {
    font-size: 15px;
    margin: 0px 0px 11px 0px;
  }

  .advantages__items-text {
    font-size: 12px;
  }

  .advantages__btn {
    font-size: 14px;
    padding: 17px 46px 18px 46px;
  }

  .services__title {
    font-size: 23px;
    margin: 20px 0px 0px 0px;
  }

  .services__btn {
    font-size: 10px;
    padding: 14px;
    margin: 20px 0px 30px 0px;
  }

  .block__item {
    margin: 30px 0px 0px 0px;
  }

  .block__item:last-child {
    margin: 30px 0px 0px 0px;
  }

  .link {
    font-size: 20px;
  }

  .title-main {
    font-size: 23px;
  }

  .text {
    font-size: 14px;
    padding: 0px 0px 15px 0px;
  }

  .title-wrapper {
    padding: 30px 0px 20px 0px;
  }

  .strategy__block img {
    max-width: 320px;
  }

  .project__img {
    max-width: 320px;
  }
}

@media (max-width: 570px) {
  .agrant {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 410px) {
  .footer__social {
    margin: 30px 10px 0px 0px;
  }
}

._webp .development__bg{ background-image: url(../img/bag.webp); }
